.vscode
.vs
.qmake.stash
Makefile
Simulations
*.o

Simulations.vcxproj.user
ui_*.h
Simulation.qtvscr
Simulations.vcxproj
Simulations.vcxproj.filters

debug/*
release/*
Simulations.qtvscr

moc_*.cpp
moc_*.h
qrc_shaders.cpp
cpp.hint
